.menuItem {
  /* background-color: red; */
  list-style: none;
  float: left;
  text-align: center;
}
.menuItem li {
  float: right;
  margin-right: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 15px;
}
.items {
  margin-right: 50px;
}
.main-navbar {
  padding: 10px;
  height: 100px;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  background-image: linear-gradient(45deg, cyan, magenta, orange);
  justify-content: center;
  align-items: center;
}
.title {
  font-weight: bold;
  font-style: italic;
}
