.menuItem {
  /* background-color: red; */
  list-style: none;
  float: left;
  text-align: center;
}
.menuItem li {
  float: right;
  margin-right: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: crimson;
}
.items {
  margin-right: 50px;
}
.main-navbar {
  padding: 10px;
  height: 100px;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
}
